{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Café GameFinder</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include your CSS files here -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <h1>Café GameFinder</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>

            {% if user.is_authenticated %}
                <!-- Show these links if the user is logged in -->
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'reserve' %}">Reserve</a>
                <a href="{% url 'cafe_profile' %}">Cafe Profile</a>
                <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    Logout
                </a>
            {% else %}
                <!-- Show these links if the user is not logged in -->
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'user_register' %}">Register</a>
            {% endif %}
        </nav>
    </header>

    <section id="register-form" class="container mt-5">
        {% if form.errors %}
        <div class="alert alert-danger mt-3" role="alert">
            <h4 class="alert-heading">Form Errors:</h4>
            <ul class="mb-0">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <h2>Register</h2>
        <form method="post" action="{% url 'user_register' %}" class="needs-validation" novalidate>
            {% csrf_token %}
             {{ form.as_p }}


            <!-- Add more fields specific to cafe owners if needed -->

            <button type="submit" class="btn btn-primary">Register</button>
        </form>

        <!-- Display form errors in a danger alert -->

    </section>

    <!-- Include Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include your JS files here -->
    <script src="{% static 'script.js' %}"></script>

    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
        {% csrf_token %}
    </form>

    <footer class="mt-5">
        <p>&copy; 2023 Café GameFinder. All rights reserved.</p>
    </footer>
</body>

</html>
